*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.space{
    margin: 100px;
}

.nav_container{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    height: 80px;
}

.nav_links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 5px;
}

.carouselslide{
    z-index: 0;
}

.nav_bar:hover{
    background-color: whitesmoke !important;
}

.nav-item{
    background-color: beige;
    padding: 2px 10px;
    margin: 5px;
    border-radius: 10px;
    color: black !important;
}

.nav-link{
    color: black !important;
}

.nav-item:hover{
    background-color: rgba(0, 8, 255, 0.9);
    
    box-shadow: 0px 0px 10px blue;
}

.nav-link:hover{
    color: aliceblue !important;
}


.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.testimonials{
    padding: 10px 10%;
}

.testimonial-card {
    width: 45%;
    height:auto;
    margin: 20px 0px;
    padding: 30px 15px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    background-color: white;
}

.testimonials_title{
    text-align: center;
    color: black;
    font-size: 200%;
}

.testimonial-card img {
    width: 15%;
    height: auto;
    border-radius: 50%;
}

.card-title {
    font-weight: bold;
    margin: 10px 0;
}

.card-text {
    color: #555;
}

.footer1{
    background-color: rgb(75, 75, 75);
    margin: 0px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_form_container{
    background-color: white;
    border: solid black 2px;
    width: 400px;
    height: 80%;
    margin: 50px auto;
    margin-top: 100px;
    padding: 30px 20px;
    border-radius: 10px;
}

.contact_form_title{
    text-align: center;
    padding: 10px;
}

.contact_form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact_result{
    background-color: white;
    margin: 50px auto;
    width: 400px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 30px 50px;
    margin-top: 100px;
    margin-bottom: 300px;
}

.return_back{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.return_home{
    padding: 10px 20px;
    background-color: green;
    color: white;
    border-radius: 5px;
}

a:hover{
    text-decoration: none;
    color: white;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.copyright input{
    width: 50%;
    margin: 10px auto;
}

.footer_links{
    list-style: none;
}

.footer_links li{
    text-align: center;
    margin: 10px;
}

.footer_links a{
    color: white;
}

.footer_links a:hover{
    text-decoration: underline;
}

.social_links{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.social_links a{
    margin: 20px;
    color: white;
    text-align: center;
}

.social_links a:hover{
    text-decoration: underline;
}

.register_container{
    width: 60%;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 50px;
    margin: 50px auto;
}

.register_container h2{
    text-align: center;
    padding: 10px;
}

.register_container button{
    padding: 5px 30px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(2, 99, 255);
    color: white;
}

.register_container button:hover{
    background-color: white;
    color: black;
}

.choreographer_container{
    width: 60%;
    margin: 20px auto;
    text-align: center;    
}

.choreographer_container h2{
    margin-top: 50px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.choreographer-card{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    width: 100%;
    max-width: 500px;
    padding: 30px;
}

.choreographer-card img{
    border-radius: 50%;
    width: 40%;
    height: auto;
    aspect-ratio: 1/1;
    padding: 20px;
}

.fee_data h2{
    text-align: center;
}

.fee_payment{
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
}

.fee_payment a{
    color: white;
    background-color: black;
    text-decoration: none;
    padding: 5px 20px;
    border: 2px solid black;
    border-radius: 5px;
}

.fee_payment a:hover{
    color: black;
    background-color: white;
}

table {
    width: 60%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: #f9f9f9;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: black;
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}

.rental_data h2{
    text-align: center;
    margin: 40px 10px 10px 10px;
}

.rental_payment{
    text-align: center;
    margin: 10px 10px 30px 10px;
}

.rental_payment a{
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 20px;
}

.rental_payment a:hover{
    background-color: white;
    color: black;
}

.video-container{
    width: 70%;
    margin: 20px auto;
    text-align: center;
}

.video-grid{
    margin: 50px;
}

.video-container h2{
    background-color: black;
    color: white;
    padding: 10px 30px;
    border-radius: 10px;
    margin: 20px;
}

.video-card h5{
    padding: 5px 25px 50px;
}

.choreographer_data{
    text-align: center;
}

.about_data{
    width: 60%;
    text-align: center;
    margin: 50px auto 20px;
}

.achievements_data{
    background-color: white;
    width: 50%;
    margin: 20px auto;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.achievements_data ul{
    list-style: none;
    margin: 20px;
}


.active{
    border: 2px solid black;
    box-shadow: 1px 1px 15px;
}

.whatsapp{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    max-width: 400px;
    width: fit-content;
    border-radius: 10px;
    background-color: green;
    color: white;
    padding-left: 20px;
    margin: 0px auto;
}

.whatsapp_container{
    margin: 20px;
}

.whatsapp:hover{
    background-color: white;
    color: green;
}

.whatsapp img{
    width: 60px;
    border-left: 2px solid green;
    margin-left: 20px;
    border-radius: 10px;
}

.dance-container{
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    margin-top: 50px;
    text-align: center;
}

.dance-container h1{
    padding-top: 40px;
}

.dance-card{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    padding-top: 60px;
}

.dance-card img{
    width: 45%;
    padding: 20px; 
    border-radius: 30px;   
}

.gallery-container{
    width: 80%;
    max-width: 800px;
    margin: 30px auto;
    margin-top: 50px;
    text-align: center;
}

.gallery-card{
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin: 20px;
    padding-top: 60px;
}

.gallery-card img{
    width: 45%;
    padding: 20px; 
    border-radius: 30px; 
}
